body { /* <- Seletor */
    background-color: rgb(241, 220, 255);
    color: rgb(125, 11, 148);
    font-family: 'Courier New', Courier, monospace;
}

h1 { /* <- Título */
    text-align: center;
}

li { /* <- Marcador de lista personalizado*/
    list-style-image: url(./Imagens/Marcador.png);
}

a {
    color: rgb(125, 11, 148);
    text-decoration: none;
}

#imagem-titulo {
    height: auto;
    width: 30px;
}